.cta {
  position: relative;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff6969;
  width: 50px;
  height: 60px;
  transition: all 0.3s ease;
}
.cta span {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover:before {
  width: 100%;
  background: #ff6969;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.95);
}

.valoresbhbtn {
  width: 4em;
  height: 4em;
  border: none;
  background: rgba(180, 83, 107, 0.847);
  border-radius: 5px;
  transition: background 0.5s;
  position: absolute;
  top: -20px;
  right: -20px;
}
.X {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(45deg);
}
.Y {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2em;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transform: translateX(-50%) rotate(-45deg);
}
.close {
  position: absolute;
  display: flex;
  padding: 0.8rem 1.5rem;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
  top: -70%;
  left: 50%;
  width: 3em;
  height: 1.7em;
  font-size: 12px;
  background-color: rgb(19, 22, 24);
  color: #fff;
  border: none;
  border-radius: 3px;
  pointer-events: none;
  opacity: 0;
}
.valoresbhbtn:hover {
  background-color: rgb(211, 21, 21);
}
.valoresbhbtn:active {
  background-color: rgb(130, 0, 0);
}
.valoresbhbtn:hover > .close {
  animation: close 0.2s forwards 0.25s;
}
@keyframes close {
  100% {
    opacity: 1;
  }
}

.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #30cfd0;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #30cfd0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}
.cyberpunk-checkbox-label:hover{
  background-color: rgb(239, 255, 255);
}

.correct {
  width: 120px;
  height: 45px;
  margin: auto;
  z-index: 10;
  font-size: 18px;
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #419197;
  transition: all 0.2s ease;
}

.correct:active {
  transform: scale(0.96);
}

.correct:before,
.correct:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.correct:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #419197 20%, transparent 30%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #419197 15%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.correct:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #419197 15%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%),
    radial-gradient(circle, #419197 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.ctrsp {
  border: none;
  color: #fff;
  background-image: linear-gradient(30deg, #213555, #213555);
  border-radius: 10px;
  background-size: 100% auto;
  font-size: 20px;
  padding: 0.6em 1.5em;
}

.ctrsp:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.enotifications-container {
  display: none;
  width: 96%;
  height: auto;
  font-size: 20px;
  line-height: 1.25rem;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.error-alert {
  height: 460px;
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(254 242 242);
}

.error-svg {
  color: #F87171;
  width: 1.25rem;
  height: 1.25rem;
}

.error-prompt-heading {
  color: #991B1B;
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: bold;
}

.error-prompt-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}

.error-prompt-wrap {
  margin-top: 0.5rem;
  color: #B91C1C;
  font-size: 20px;
  line-height: 1.25rem;
}

.error-prompt-list {
  padding-left: 1.25rem;
  margin-top: 0.25rem;
  list-style-type: disc;
}

.error-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.error-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: rgb(254 242 242);
  color:#B91C1C;
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none
}

.error-button-main:hover {
  background-color: rgb(247, 220, 220);
}

.wnotifications-container {
  display: none;
  width: 96%;
  height: auto;
  font-size: 20px;
  line-height: 1.25rem;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
}

.success {
  height: 460px;
  padding: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(240 253 244);
}

.succes-svg {
  color: rgb(74 222 128);
  width: 1.25rem;
  height: 1.25rem;
}

.success-prompt-wrap {
  margin-left: 0.75rem;
}

.success-prompt-heading {
  font-weight: bold;
  color: rgb(22 101 52);
}

.success-prompt-prompt {
  margin-top: 0.5rem;
  color: rgb(21 128 61);
}

.success-button-container {
  display: flex;
  margin-top: 0.875rem;
  margin-bottom: -0.375rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.success-button-main {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #ECFDF5;
  color: rgb(22 101 52);
  font-size: 20px;
  line-height: 1.25rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none
}

.success-button-main:hover {
  background-color: #D1FAE5;
}

.success-button-secondary {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.75rem;
  background-color: #ECFDF5;
  color: #065F46;
  font-size: 20px;
  line-height: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}
